* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font: 14px 'Audiowide', 'DM mono', 'Inter', cursive monospace sans-serif;
    font-weight: 400;
    margin: auto;
    padding-bottom: 200px;
}

.container {
    width: 1500px;
    margin: 0 auto;
}

body {
    background-color: #000000;
} 
    